<div class="container">
  <mat-card class="login-container">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="form-group-container">
          <input matInput placeholder="Enter your user name" [formControl]="userName" required id="userName"
                 name="userName">
        </mat-form-field>
<!--
        <mat-form-field class="form-group-container">
          <input matInput placeholder="Enter your email" [formControl]="email" required type="email" id="email"
                 name="email">

        </mat-form-field>
-->
        <mat-form-field class="form-group-container">
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                 id="password" name="password" [formControl]="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="errorMessage">{{getErrorMessage()}}</mat-error>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="onLogin()">Sign In</button>
      <button mat-raised-button color="primary" type="submit" (click)="onRediectTo('/registration')">Sign Up</button>
    </mat-card-actions>
  </mat-card>
</div>

