<ng-template [ngIf]="system" [ngIfElse]="noSystemSelected">

  <app-inso-detail-layout [actions]="actions" [detailName]="system.name" [backAction]="backAction">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstStepForm">
        <ng-template matStepLabel>Import</ng-template>
        <div><p>System data has been imported: {{system.is_imported}}</p></div>
        <div>
          <button mat-button (click)="onImportDataSystem()">Import</button>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondStepForm">
        <ng-template matStepLabel>Train data</ng-template>
        <div><p>System has trained: {{system.is_trained}}</p></div>
        <div>
          <mat-form-field class="form-group-container">
            <mat-label>System type</mat-label>
            <mat-select  [(value)]="selectedTrainType" >
              <mat-option value="1">PCA with KMeans</mat-option>
              <mat-option value="2">SOM with KMeans</mat-option>
              <mat-option value="3">Ivis with KMeans</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-button (click)="onTrainSystem()">Train data</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
  </app-inso-detail-layout>

</ng-template>
<ng-template #noSystemSelected>
  <app-inso-detail-layout>

    <h5 style="alignment: center">No system selected</h5>
  </app-inso-detail-layout>
</ng-template>
