
.registration-container {
  width: 50%;
  height: inherit;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  display: inline-block;
}
.form-group-container {
  display: flex;
  flex-direction: column;
}

.form-group-container > * {
  width: 100%;
}
