<div class="container">
  <mat-card class="registration-container">
    <mat-card-title>Registration</mat-card-title>
    <form [formGroup]="registrationForm" (ngSubmit)="onSignup()">
      <mat-card-content>
        <mat-form-field class="form-group-container">
          <input matInput placeholder="Enter your user name" formControlName="username" required id="userName"
                 name="userName">
        </mat-form-field>

        <mat-form-field class="form-group-container">
          <input matInput placeholder="Enter your email" formControlName="email" required type="email" id="email"
                 name="email">

        </mat-form-field>

        <mat-form-field class="form-group-container">
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                 id="password" name="password" formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="form-group-container">
          <input matInput placeholder="Repeat your password" [type]="hide ? 'password' : 'text'"
                 id="repeat-password" name="repeat-password" formControlName="repeatPassword" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-slide-toggle formControlName="isManager"></mat-slide-toggle>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="isInvalid()">Sign Up</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

