<ng-template [ngIf]="system" [ngIfElse]="noSystemSelected">

  <app-inso-detail-layout [actions]="actions" [detailName]="system.name">
    <mat-grid-list cols="2" rowHeight="400px" style="width: 100%; height: 100%">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="cluster-plot-card">
          <mat-card-header>
            <div mat-card-avatar class="cluster-header-image"></div>
            <mat-card-title>Cluster plot view </mat-card-title>
            <mat-card-subtitle>Six different group of system states</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image style="max-height: 30%; max-width: 40%; align-content: center" src="../../../assets/images/cluster.png" alt="cluster view" >
          <mat-card-content>
            <p>
              This view show how the system is divided to 6 different states and how
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onShowClusterPlot()">SHOW</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="cluster-plot-card">
          <mat-card-header>
            <div mat-card-avatar class="cluster-header-image"></div>
            <mat-card-title>Data plot view </mat-card-title>
            <mat-card-subtitle>Six different group of system states</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image style="max-height: 30%; max-width: 40%; align-content: center" src="../../../assets/images/regression.png" alt="data view" >
          <mat-card-content>
            <p>
              This view show how the system is divided to 6 different states and how
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onShowRegressionPlot()">SHOW</button>
          </mat-card-actions>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="cluster-plot-card">
          <mat-card-header>
            <div mat-card-avatar class="cluster-header-image"></div>
            <mat-card-title>SOM complete map view </mat-card-title>
            <mat-card-subtitle>Six different group of system states</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image style="max-height: 30%; max-width: 35%; align-content: center"
               src="../../../assets/images/somview.png" alt="SOM view" >
          <mat-card-content>
            <p>
              This view show how the system is divided to 6 different states and how
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onShowSomPlot()">SHOW</button>
          </mat-card-actions>
        </mat-card>

      </mat-grid-tile>
    </mat-grid-list>
  </app-inso-detail-layout>

</ng-template>
<ng-template #noSystemSelected>
  <app-inso-detail-layout>

    <h5 style="alignment: center">No system selected</h5>
  </app-inso-detail-layout>
</ng-template>
