.tab-layout {
  width: 100%;
}
.cluster-plot-card {
  width: 100%;
  height: 70%;
  margin: 1%;
}

.cluster-header-image {
  background-image: url("../../../assets/images/fadector_logo_inso.png");
  background-size: cover;
}
