<mat-card class="card-table-layout">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="{{column.key}}" *ngFor="let column of columns">
      <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
    <!--
    <tr mat-row *matRowDef="let element; columns: columnKeys;"
        [ngClass]="{'highlight': selectedRowIndex == element.id}"
        class="example-element-row" (click)="onClicked(element)"></tr>
    -->
    <tr mat-row *matRowDef="let row; columns: columnKeys;"
             [ngClass]="{hovered: row.hovered, highlighted: selectedRowIndex == row.id}"
             (click)="onClicked(row)"
             (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
  </table>
  <hr/>
  <ng-content>

  </ng-content>
</mat-card>

