.layout-header {
  background-color: #55575d;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 3em;
  box-sizing: border-box;
  position: inherit;
  width: 100%;
  z-index: 999999;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
