.detail-layout {
  border-radius: 1px;
  height: 83.7vh;
  max-height: 100%;
  margin: 2px 0 0;
}

.detail-button {
  margin: 5px;

}

.detail-btn-warn {
  background-color: darkgoldenrod;
}

.detail-btn-danger {
  background-color: orangered;
}

.btn-group-layout {
  display: inline-block;
  float: right;
}
