<mat-card class="detail-layout">
  <!-- header of the view -->
  <div class="row">
    <div class="col-md-1">
      <button *ngIf="hasBackButton"
              mat-flat-button
              (click)="backAction.action()"
              color="{{getColor(backAction.level)}}"
              class="detail-button "
              [disabled]="!backAction.enabled">{{backAction.actionName}}</button>
    </div>
    <div class="col-md-5">
      <h2>{{ detailName }}</h2>
    </div>
    <div class="col-md-6">
      <!-- listing some buttons like: edit / delete -->
      <div class="btn-group btn-group-layout">
        <div style="display: inline" *ngFor="let action of actions;">
          <button *ngIf="action.visible"
                  mat-flat-button
                  (click)="action.action()"
                  color="{{getColor(action.level)}}"
                  class="detail-button "
                  [disabled]="!action.enabled">{{action.actionName}}</button>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <ng-content>
    </ng-content>
  </div>
</mat-card>
