table {
  width: 100%;

}

tr.example-detail-row {
  height: 0;
}/*

tr.mat-row:not(.mat-row):hover {
  background: #f5f5f5;
}

tr.mat-row:not(.example-expanded-row):active {
  background: #3b4a5d;
}
*/
tr.mat-row.highlighted {
  background: #b0bbbb;
}
tr.mat-row.hovered.highlighted {
  background: #b0bbbb;
}

tr.mat-row.hovered {
  background: #f5f5f5;
}



.example-element-row td {
  border-bottom-width: 0;
  min-width: 10em;
}

.card-table-layout {
  border-radius: 1px;
  margin: 2px 0 0;
  padding: 0;
  height: 83.7vh;
}
