<div class="layout-header">
  <div class="row">
    <div class="col-md-6">
      <h3  style="margin: 5px; color: white; width: 50%">{{headerName}}</h3>
    </div>
    <div class="col-md-6">
      <ng-content>

      </ng-content>
    </div>
  </div>
</div>
