#layout-topbar {
  background-color: #3b4a5d;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 4.5em;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#layout-topbar .menu-button {
  display: none;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  transition: background-color .3s;
}

#layout-topbar .menu-button:hover {
  background-color: #f5f5f5;
}


#layout-topbar .menu-button i {
  line-height: inherit;
}

#layout-topbar .logo {
  margin-left: 45px;
  margin-top: 15px;
  display: inline-block;
}

#layout-topbar .logo img {
  height: 2.5em;

}

.topbar-menu {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 0 60px 0 0;
  padding: 0;
  height: 100%;
}

.topbar-menu > li {
  display: inline-block;
  height: 100%;
}

.topbar-menu > li > a {
  text-decoration: none;
  color: #ffffff;
  transition: background-color .3s;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  line-height: 70px;
}

.topbar-menu > li > a:hover {
  background-color: #4a4f52;
}

.topbar-menu > li > ul {
  display: none;
}

.topbar-menu > li.topbar-menu-themes {
  position: relative;
}

.topbar-menu > li.topbar-menu-themes > ul {
  position: absolute;
  top: 65px;
  left: -50px;
  width: 200px;
  max-height: 300px;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  overflow: auto;
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
  border-radius: 3px;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
  padding: 6px 12px;
  font-weight: bold;
  text-align: left;
  background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
  color: #ffffff;
}

.topbar-menu > li.topbar-menu-themes > ul a {
  text-decoration: none;
  color: #404C51;
  padding: 6px 12px;
  display: block;
  transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-themes > ul a:hover {
  background-color: #eeeeee;
}

.topbar-menu > li.topbar-menu-themes > ul a img {
  width: 32px;
  vertical-align: middle;
}

.topbar-menu > li.topbar-menu-themes > ul a .ui-text {
  vertical-align: middle;
  margin-left: 8px;
}

.topbar-menu > li.topbar-menu-themes:hover > ul {
  display: block;
}
