<div class="ng-tns-c0-0" id="layout-topbar">
  <a class="menu-button" href="#">
    <i class="fa fa-bars"></i>
  </a>

  <a class="logo" routerLink="/">
    <img alt="logo" src="../../../assets/images/fadector_logo_inso.png">
  </a>

  <ul class="topbar-menu">

    <li class="topbar-menu-themes" routerLinkActive="active">
      <a routerLink="systems">Systems</a>
    </li>
    <!--
    <li routerLinkActive="active">
      <a class="ng-tns-c0-0" routerLink="/statistics">Statistics</a>
    </li>
    <li class="ng-tns-c0-0">
      <a class="ng-tns-c0-0" routerLink="/support">SUPPORT</a>
    </li>
    -->
    <li><a
      style="cursor: pointer;"
      (click)="onLogout()"
      *ngIf="isAuthenticated()">Logout</a></li>
  </ul>
</div>

