<h1 mat-dialog-title>Hi {{data.name}}</h1>
<form [formGroup]="systemForm" (ngSubmit)="onOkClick()">
<div mat-dialog-content>
  <mat-form-field class="form-group-container">
    <mat-label>System name</mat-label>
    <input matInput placeholder="System name" formControlName="name" required id="name"
           name="name">
  </mat-form-field>
  <mat-form-field class="form-group-container">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description" required id="description"
           name="description">
  </mat-form-field>
  <mat-form-field class="form-group-container">
    <mat-label>System type</mat-label>
    <mat-select formControlName="system_type" >
      <mat-option *ngFor="let systemType of systemTypes" [value]="systemType">
        {{systemType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit" [disabled]="isInvalid()" cdkFocusInitial>Submit</button>
</div>
