.app-main-content{
  margin-left : 4%;
  margin-right : 4%;
  height: 100%;
}

#layout-content {
  padding-top: 4.6em;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #303030;
  height: 100%;
  max-height: 100%;
}
.login-page {
  background-image: url("../assets/images/insolution_frontpage.jpeg");
  background-size: contain;
  background-repeat: repeat;
  height: 100%;
}

.layout-footer {
  position: fixed;
  bottom: 3px;
  display: inline;
  right: 1%;
}
