<!--The content below is only a placeholder and can be replaced.-->
<ng-template [ngIf]="userService.isAuthenticated" [ngIfElse]="notAuthenticated">
  <app-navigation  ></app-navigation>
  <div id="layout-content">
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="content-section layout-footer clearfix">
      <span style="color: white">
        <a class="copy-right" href="http://insolution.fi"  style="color: white">Insolution Oy</a>, Copyright &copy; 2019
      </span>
    </div>
  </div>
</ng-template>
<ng-template #notAuthenticated>
  <div class="login-page">
    <router-outlet></router-outlet>
  </div>
</ng-template>

