<app-inso-header-layout headerName="System">

  <button mat-flat-button style="float: right; display: inline; background-color: #3b4a5d; margin: 5px;"
          (click)="onNewSystem()">New</button>
</app-inso-header-layout>
<div class="row ">
  <div class="col-md-3 container-fluid">
    <app-system-list></app-system-list>
  </div>
  <div class="col-md-9 container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

