<ng-template [ngIf]="system" [ngIfElse]="noSystemSelected">

  <app-inso-detail-layout [actions]="actions" [detailName]="system.name" [backAction]="backAction">
    <mat-tab-group animationDuration="0ms" class="tab-layout">
      <mat-tab label="Details" style="width: 100%; height: 100%;">
        <div style="display: flex">
          <div class="col-md-12">
            <app-line-plot [graph]="graph" (selectedPoint)="onPointSelected($event)"></app-line-plot>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </app-inso-detail-layout>

</ng-template>
<ng-template #noSystemSelected>
  <app-inso-detail-layout>

    <h5 style="alignment: center">No system selected</h5>
  </app-inso-detail-layout>
</ng-template>
