<ng-template [ngIf]="system" [ngIfElse]="noSystemSelected">

  <app-inso-detail-layout [backAction]="backAction" [detailName]="system.name">
    <mat-tab-group animationDuration="0ms" class="tab-layout" style="overflow: hidden">
      <mat-tab label="Details" style="width: 100%; height: 100%;" >
        <div style="display: flex">
          <div class="col-md-7">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Plot</mat-card-title>
              </mat-card-header>
              <mat-card-content style="overflow-y:auto; height:600px;">

                <app-cluster-plot [graph]="graph" (selectedPoint)="onPointSelected($event)"></app-cluster-plot>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-5">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Selected point</mat-card-title>
              </mat-card-header>
              <mat-card-content style="overflow-y:auto; height:600px;">
                <ng-template [ngIf]="selectedPoint">
                  <p *ngFor="let key of Object.keys(selectedPoint)">
                    {{key}} : {{selectedPoint[key]}}
                  </p>
                </ng-template>
                <ng-template [ngIf]="selectedPoint" >
                  <mat-form-field class="form-group-container">
                    <mat-label>System type</mat-label>
                    <mat-select  [(value)]="selectedNewLabel" >
                      <mat-option value="0">0</mat-option>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <button mat-button (click)="onUpdateLabel()">Update label</button>
                </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </app-inso-detail-layout>

</ng-template>
<ng-template #noSystemSelected>
  <app-inso-detail-layout>

    <h5 style="alignment: center">No system selected</h5>
  </app-inso-detail-layout>
</ng-template>
